@mixin column-padding($padding) {
  padding: 0 $padding;

  &:first-child {
    padding: 0 $padding 0 0;
  }

  &:last-child {
    padding: 0 0 0 $padding;
  }
}

@mixin appearance($appearance) {
  -webkit-appearance: $appearance;
  -moz-appearance: $appearance;
  appearance: $appearance;
}

@mixin input-placeholder($color, $font-size) {
  &::placeholder {
    color: $color;
    font-size: $font-size;
    opacity: 1;
  }

  &:-ms-input-placeholder {
    color: $color;
    font-size: $font-size;
  }

  &::-ms-input-placeholder {
    color: $color;
    font-size: $font-size;
  }
}
