/* utils/responsive */
$lg-breakpoint: 1440px !default;
$md-breakpoint: 1024px !default;
$sm-breakpoint: 767px !default;
$xs-breakpoint: 479px !default;

/* components/page */
$page-background-color: #FFF;
$page-color: #000;
$page-font-family: Arial, sans-serif !default;
$page-font-size: 16px !default;
$page-paragraph-line-height: 1.6 !default;

/* components/header */
$header-background-color: #FFF;
$header-color: #000;
$header-content-height: 60px !default;

/* components/section */
$section-content-max-width: 1140px !default;
$section-content-small-max-width: 800px !default;
$section-content-large-max-width: 1300px !default;
// title
$section-title-font-family: $page-font-family !default;
$section-title-font-size: 35px !default;
$section-title-font-weight: 600 !default;
$section-title-line-height: 1 !default;
$lg-section-title-font-size: $section-title-font-size !default;
$lg-section-title-font-weight: $section-title-font-weight !default;
$lg-section-title-line-height: $section-title-line-height !default;
$md-section-title-font-size: $lg-section-title-font-size !default;
$md-section-title-font-weight: $lg-section-title-font-weight !default;
$md-section-title-line-height: $lg-section-title-line-height !default;
$sm-section-title-font-size: $md-section-title-font-size !default;
$sm-section-title-font-weight: $md-section-title-font-weight !default;
$sm-section-title-line-height: $md-section-title-line-height !default;
// subtitle
$section-subtitle-font-family: $page-font-family !default;
$section-subtitle-font-size: 24px !default;
$section-subtitle-font-weight: 600 !default;
$section-subtitle-line-height: 1 !default;
$lg-section-subtitle-font-size: $section-title-font-size !default;
$lg-section-subtitle-font-weight: $section-title-font-weight !default;
$lg-section-subtitle-line-height: $section-title-line-height !default;
$md-section-subtitle-font-size: $lg-section-title-font-size !default;
$md-section-subtitle-font-weight: $lg-section-title-font-weight !default;
$md-section-subtitle-line-height: $lg-section-title-line-height !default;
$sm-section-subtitle-font-size: $md-section-title-font-size !default;
$sm-section-subtitle-font-weight: $md-section-title-font-weight !default;
$sm-section-subtitle-line-height: $md-section-title-line-height !default;

/* components/button */
$button-background-color: #000;
$button-color: #FFF;
$button-border-width: 2px !default;
$button-border-type: solid !default;
$button-border-color: transparent !default;
$button-border-radius: 2px !default;
$button-font-family: $page-font-family !default;
$button-text-transform: uppercase !default;
$button-xs-font-size: 10px !default;
$button-xs-min-width: 0 !default;
$button-xs-padding: 5px !default;
$button-sm-font-size: 12px !default;
$button-sm-min-width: 0 !default;
$button-sm-padding: 5px !default;
$button-md-font-size: 16px !default;
$button-md-min-width: 0 !default;
$button-md-padding: 10px !default;
$button-lg-font-size: 16px !default;
$button-lg-min-width: 0 !default;
$button-lg-padding: 15px !default;
$button-xl-font-size: 18px !default;
$button-xl-min-width: 0 !default;
$button-xl-padding: 20px !default;

/* properties/padding */
$padding-vertical: 60px !default;
$padding-horizontal: 30px !default;
$lg-padding-vertical: 60px !default;
$lg-padding-horizontal: 30px !default;
$md-padding-vertical: 45px !default;
$md-padding-horizontal: 25px !default;
$sm-padding-vertical: 40px !default;
$sm-padding-horizontal: 20px !default;
