// utils/responsive
$sm-mobile-max-width: 479px !default;
$mobile-max-width: 767px !default;
$tablet-max-width: 991px !default;

// components/section
$section-content-max-width: 1140px !default;
$section-content-small-max-width: 800px !default;
$section-content-large-max-width: 1300px !default;

// properties/b-padding
