@mixin align-items {
  &_center {
    -webkit-align-items: center;
    align-items: center;
  }
  
  &_end {
    -webkit-align-items: flex-end;
    align-items: flex-end;
  }
  
  &_start {
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }
  
  &_baseline {
    -webkit-align-items: baseline;
    align-items: baseline;
  }
  
  &_stretch {
    -webkit-align-items: stretch;
    align-items: stretch;
  }
}

.align-items {
  @include align-items;
}

@include desktop {
  .lg-align-items {
    @include align-items;
  }
}

@include tablet {
  .md-align-items {
    @include align-items;
  }
}

@include mobile {
  .sm-align-items {
    @include align-items;
  }
}

@include portrait-mobile {
  .xs-align-items {
    @include align-items;
  }
}
