@mixin flow {
  &_row {
    -webkit-flex-flow: row;
    flex-flow: row;
  }

  &_row-r {
    -webkit-flex-flow: row-reverse;
    flex-flow: row-reverse;
  }

  &_col {
    -webkit-flex-flow: column;
    flex-flow: column;
  }

  &_col-r {
    -webkit-flex-flow: column;
    flex-flow: column;
  }
}

.flw {
  @include flow;
}

@include sm-mobile {
  .xs-flw {
    @include flow;
  }
}

@include mobile {
  .sm-flw {
    @include flow;
  }
}

@include tablet {
  .md-flw {
    @include flow;
  }
}
