@mixin justify {
  &_sp-b {
    justify-content: space-between;
  }

  &_sp-a {
    justify-content: space-around;
  }

  &_cntr {
    justify-content: center;
  }

  &_end {
    justify-content: flex-end;
  }
}

.jst {
  @include justify;
}

@include tablet {
  .md-jst {
    @include justify;
  }
}

@include mobile {
  .sm-jst {
    @include justify;
  }
}

@include sm-mobile {
  .xs-jst {
    @include justify;
  }
}
