@mixin margin_value($direction, $value) {
  &_#{$value} {
    @if ($direction == 'h') {
      margin-left: #{$value + 'px'};
      margin-right: #{$value + 'px'};
    } @else if $direction == 'v' {
      margin-bottom: #{$value + 'px'};
      margin-top: #{$value + 'px'};
    } @else {
      margin-#{$direction}: #{$value + 'px'};
    }
  }
}

@mixin margin_v($direction) {
  &_#{$direction} {
    @include margin_value($direction, 0);
    @include margin_value($direction, 5);
    @include margin_value($direction, 10);
    @include margin_value($direction, 15);
    @include margin_value($direction, 20);
    @include margin_value($direction, 30);
    @include margin_value($direction, 40);
  }
}

@mixin margin_h($direction) {
  &_#{$direction} {
    @include margin_value($direction, 0);
    @include margin_value($direction, 5);
    @include margin_value($direction, 10);
    @include margin_value($direction, 15);
    @include margin_value($direction, 20);
    @include margin_value($direction, 30);
  }
}

@mixin margin {
  @include margin_h('h');
  @include margin_h('left');
  @include margin_h('right');
  @include margin_v('v');
  @include margin_v('top');
  @include margin_v('bottom');
}

.margin {
  @include margin;
}

@include desktop {
  .lg-margin {
    @include margin;
  }
}

@include tablet {
  .md-margin {
    @include margin;
  }
}

@include mobile {
  .sm-margin {
    @include margin;
  }
}

@include portrait-mobile {
  .xs-margin {
    @include margin;
  }
}
