@mixin margin($margins, $modifier, $prefix: "") {
  .#{$prefix}margin {
    @each $margin in $margins {
      &_#{$modifier} {
        &_#{$margin} {
          @if ($modifier == "h") {
            margin-left: #{$margin + "px"};
            margin-right: #{$margin + "px"};
          } @else if $modifier == "v" {
            margin-bottom: #{$margin + "px"};
            margin-top: #{$margin + "px"};
          } @else {
            margin-#{$modifier}: #{$margin + "px"};
          }
        }
      }
    }
  }
}

@if $top-margins {
  @include margin($top-margins, "top");
}

@if $lg-top-margins {
  @include desktop {
    @include margin($lg-top-margins, "top", "lg-");
  }
}

@if $md-top-margins {
  @include tablet {
    @include margin($md-top-margins, "top", "md-");
  }
}

@if $sm-top-margins {
  @include mobile {
    @include margin($sm-top-margins, "top", "sm-");
  }
}

@if $xs-top-margins {
  @include portrait-mobile {
    @include margin($xs-top-margins, "top", "xs-");
  }
}
