@mixin padding($horizontal, $vertical) {
  &_h {
    padding-left: $horizontal;
    padding-right: $horizontal;
  }

  &_v {
    padding-bottom: $vertical;
    padding-top: $vertical;
  }

  &_top {
    padding-top: $vertical;
  }

  &_bottom {
    padding-bottom: $vertical;
  }
}

.padding {
  @include padding($padding-horizontal, $padding-vertical);
}

@include desktop {
  .padding {
    @include padding($lg-padding-horizontal, $lg-padding-vertical);
  }
}

@include tablet {
  .padding {
    @include padding($md-padding-horizontal, $md-padding-vertical);
  }
}

@include mobile {
  .padding {
    @include padding($sm-padding-horizontal, $sm-padding-vertical);
  }
}
