.section-padding {
  &_h {
    padding-left: 30px;
    padding-right: 30px;
  }

  &_v {
    padding-bottom: 60px;
    padding-top: 60px;
  }

  &_top {
    padding-top: 60px;
  }

  &_bottom {
    padding-bottom: 60px;
  }
}

@include tablet {
  .section-padding {
    &_h {
      padding-left: 25px;
      padding-right: 25px;
    }

    &_v {
      padding-bottom: 45px;
      padding-top: 45px;
    }

    &_top {
      padding-top: 45px;
    }

    &_bottom {
      padding-bottom: 45px;
    }
  }
}

@include mobile {
  .section-padding {
    &_h {
      padding-left: 20px;
      padding-right: 20px;
    }

    &_v {
      padding-bottom: 40px;
      padding-top: 40px;
    }

    &_top {
      padding-top: 40px;
    }

    &_bottom {
      padding-bottom: 40px;
    }
  }
}
